.card-margin {
  margin-top: 6.5vh;
}

.circleNoBan {
  height: 20px;
  width: 20px;
  background-color: #008000;
  border-radius: 50%;
  position: absolute;
  margin-left: 229px;
}

.circleAllBanned {
  height: 20px;
  width: 20px;
  background-color: #FF0000;
  border-radius: 50%;
  position: absolute;
  margin-left: 229px;
}

.circleSomeBanned {
  height: 20px;
  width: 20px;
  background-color: #FFA500;
  border-radius: 50%;
  position: absolute;
  margin-left: 229px;
}
